
.jumbotron{
  background-color: rgb(241, 217, 180)!important;
  margin-bottom: 0!important;
  padding: 0.5rem!important;


  /* border: rgb(240, 206, 144) .5px solid; */
}

.jumbotron h1{
  color: #3a4145!important;
  text-align: center;
  font-weight: 800;
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
}

.jumbotron h3{
  color: #3a4145!important;
  margin-top: 20px;
  font-style: italic;
  font-weight: 600;
  text-align: -webkit-center;
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
}


.navLogo{
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
}


.contactList li {
  text-align: center;
  padding: 5px;
}

.contactList li a, .footer a{
  color: black;
}

.footer{
  padding-top: 15px;
  padding-bottom: 5px;
  border: solid black 1px;
  background-color: rgb(241, 217, 180)!important;
  margin-top: 30px ;
}

.row-body{
  padding: 20px;
}

.myImg{
  padding:2px;
  border:1px solid black;
  border-radius: 55px;
}

.headerImg{
  padding-bottom: 20px;
}

.project{
  background-color: rgba(241, 217, 180,0.7)!important;
  border-radius: 20px!important;
  margin: 10px;
}

.navTabs{
  color:black;
}

.navTabs:hover, .navCurrent{
  text-decoration: underline;
  font-size: 1.2rem;
}