.container-home-first {
  height: calc(100vh);
  padding-top: calc(100vh / 3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .home-first {
    color: wheat;
    font-family: $main-font;
    //background-image: url('./../public/assets/images/upscaled_background.webp');

    .animation {
      font-style: italic;
      padding-top: 10px;
      font-size: 2rem;
      font-weight: 600 !important;
      @media screen and (max-width: 600px) {
        font-size: 1.5rem;
      }
    }

    .home-main-name {
      font-size: 5rem;
      @media screen and (max-width: 600px) {
        font-size: 2rem;
      }
    }

    .circle {
      width: 70px;
      height: 70px;
      margin-top: 70px;
      border: 5px solid rgba(0, 0, 255, 0.5);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: bounce 3s infinite;

      .arrow {
        color: $blue-main;
        text-align: center;
        margin: 8% 0;

        .fa {
          text-decoration: none !important;
          color: $blue-main;
          cursor: pointer;
        }
      }
    }

  }
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); // Bounce positions
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
