// npm run scss
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:ital,wght@1,300&display=swap");



$main-font: "Raleway", sans-serif !important;
$p-font: "Open Sans", sans-serif !important;
$main-black: #000000 !important;
$blue-main: #3fa6e6 !important;


.handlerData{
  
}
.rowAbout {
  min-height: calc(80vh);
  padding-top: 30px;
  margin-top:50px;

  @media screen and (max-width: 600px) {
    padding: 5px;
    margin:5px;
    margin-top: 35px ;
  }

  .homeP {
    font-size: 1.3rem;
    font-style: italic;
    text-align: justify;
  }

  .contacts {
    text-align: center;  
    @media screen and (max-width: 600px) {
      margin-top: 55px ;
    }
  }

  .contactList li {
    text-align: center;
    padding: 5px;
    a,
    .footer a {
      color: black;
    }
  }

  .title{
    font-family: $main-font;
    color: $blue-main;
    font-weight: 900;
    font-size: 2rem;
  }
}

.firstPage {
  width: 100%;
  // height: calc(100vh - 55px); // if remove sticky navbar
  height: calc(100vh);
  margin: 0 !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: $main-font;
  color: wheat;
  .animation {
    font-style: italic;
    padding-top: 10px;
    font-weight: 600 !important;
    @media screen and (max-width: 600px) {
      font-size: 1.5rem;
    }
  }
  .name {
    font-size: 5rem;
    color: wheat;
    @media screen and (max-width: 600px) {
      font-size: 3rem;
    }
  }
}

.mainNav {
  background-color: $main-black;
  .navLogo {
    font-weight: 800;
    font-family: $main-font;
    color: $blue-main;
    text-decoration: none !important;
  }
  .navbar-toggler {
    border: 2px solid;
    border-color: $blue-main;
  }
  .nav-link {
    font-weight: 700;
    color: $blue-main;
    font-size: 1.2rem;
    &:hover {
      text-decoration: underline;
    }
  }
}



.footer {
  padding-top: 15px;
  padding-bottom: 5px;
  border: solid black 1px;
  background-color: $main-black;
  margin-top: 30px;
  * {
    color: $blue-main;
  }
}




.myFont {
  font-family: $p-font;
  font-weight: 800;
  font-style: normal;
}

.project {
  background-color: wheat;
  border: 2px black;
  border-radius: 20px !important;
  margin-top: 10px;
  padding: 10px;
  font-size: 1.1rem;
  .cardH {
    font-weight: 900 !important;
    text-align: center;
    background-color: $blue-main;
    color: black;
    font-size: 1.5rem;
  }
  .related {
    text-align: center;
    // font-size: 1.3rem;
    font-weight: 900;
    border-radius: 10px;
    background-color: $blue-main;
    font-family: $main-font;
    color: black;
  }
}


.gitLink {
  margin: 30px 5px;
  border-radius: 10px;
  text-align: center;
  h6 {
    font-size: 1.1rem;
    font-weight: 900 !important;
    a {
      font-family: $main-font;
      color: black;
    }
  }
  p {
    text-align: justify;
  }
  .body {
    margin-top: 5px;
    color: black;
    text-align: center;
  }
  .HR {
    border: 1px dashed;
    border-color: $blue-main;
  }
}

.leftNav {
  margin-top: 10px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-radius: 5px;
  text-align: center;
  background-color: $blue-main;
  border: 5px $blue-main solid;
  .myItem {
    font-weight: 800;
    font-style: $p-font;
    border: 1px solid $blue-main;
    background-color: white;
    span {
      color: $blue-main;
    }
  }
  .navTabs:hover,
  .navCurrent {
    text-decoration: none !important;
    font-size: 1.1rem;
    color: $blue-main;
  }
  .nav-link {
    padding: 1rem !important;
  }
}







@media screen and (max-width: 768px) {
  .nav-link {
    font-weight: 800px !important;
    padding: 0.3rem 1rem !important;
    margin: 0;
  }
  .myCol {
    padding-left: 0px !important;
    padding-right: 0px !important;
    .card-body {
      padding: 1.5rem;
    }
  }

  .project {
    margin: 0;
    margin-top: 25px;
  }
  .homeTitle {
    margin-top: 20px;
  }
}
