// npm run scss
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:ital,wght@1,300&display=swap');

// $main: rgb(158, 207, 209)!important; first light blue!
$main: rgb(184, 238, 240)!important;
// $main: rgb(253, 247, 222)!important;
$main-font: 'Raleway', sans-serif!important;
$p-font: 'Open Sans', sans-serif!important;
$black-main: #3a4145!important;


.jumbotron{
    background-color: $main;
    margin-bottom: 0!important;
    padding: 0.5rem!important;

    .jumbotron h1{
        color: $black-main;
        font-family: $main-font;

        text-align: center;
        font-weight: 800;
        font-size: 3rem;
     }

    .jumbotron h3{
    color: $black-main;
    font-family: $main-font;
    font-style: italic;
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 20px;
    text-align: -webkit-center;
    }
  }
  
.navLogo{
font-weight: 800;
font-family: $main-font;
color: $black-main;
text-decoration: none!important;
}

.footer{
  padding-top: 15px;
  padding-bottom: 5px;
  border: solid black 1px;
  background-color: $main;
  margin-top: 30px;
}


.contactList li {
text-align: center;
padding: 5px;
   a, .footer a{
    color: black;
    }
}

.myFont {
  font-family: $p-font;
  font-weight: 800;
  font-style: normal;
}


.myImg{
padding:2px;
border:1px solid black;
border-radius: 55px;
}

.headerImg{
padding-bottom: 20px;
}

.project{
background-color: $main;
border-radius: 20px!important;
margin: 10px;
}


.related{
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  margin: 10px;

  
}

.gitLink{
  // font-weight: 1000;
  margin: 5px 10px;
  border-radius: 10px;
  padding:10px;
  text-align: center;
  h6 {
    font-size: 1.1rem;
    font-weight: 1000!important;
  }
  p {
    text-align: justify;
  }
  .body{
    margin-top: 5px;
    color: black;
    text-align: center;
  }
}


.navTabs{
  font-weight: 800;
  font-style: $p-font;
}

.navTabs:hover, .navCurrent{
  text-decoration: none!important;
  font-size: 1.5rem;
  color:$black-main;
}
.nav-link{
  padding:1rem!important;
}

.homeP{
  font-size: 1.1rem;
  font-style: italic;
}

.homeTitle{
  text-align: center;
}

.myItem{
  border: 1px solid $black-main;
  background-color: rgb(217, 245, 242);
}


@media screen and (max-width: 768px) {
  .nav-link{
    font-weight: 800px!important;
    padding: 0.3rem 1rem!important;
    margin: 0;
  }
}
