$main-font: "Raleway", sans-serif !important;
//$main-font: 'Merriweather', sans-serif !important;
$p-font: "Open Sans", sans-serif !important;
$paragraph-font: 'Roboto Mono', monospace;
$main-black: #000000 !important;
$blue-main: #3fa6e6;
